<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="persistence.presystem" class="munction.modules.persistence.Presystem">
        <meta key="version" value="1.0"></meta>
    </bean>

    <bean id="persistence.system" class="munction.modules.persistence.System">
        <meta key="version" value="1.0"></meta>
    </bean>

    <bean id="persistence.standard" class="munction.modules.persistence.StandardPersistor">

        <meta key="input" value="/home/xenu/IdeaProjects/Munction/input/ui/ui.xml"></meta>

    </bean>

    <bean id="persistence.custom" class="munction.modules.persistence.CustomPersistor">

        <meta key="input" value="/home/xenu/IdeaProjects/Munction/input/application/application.xml"></meta>

    </bean>

</beans>