<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="web.presystem" class="munction.modules.web.Presystem">
        <meta key="version" value="1.0"></meta>
    </bean>

    <bean id="web.system" class="munction.modules.web.System">
        <meta key="version" value="1.0"></meta>
    </bean>

    <bean id="web.standard" class="munction.modules.web.StandardWeb">

        <meta key="input" value="/home/xenu/IdeaProjects/Munction/input/ui/ui.xml"></meta>

    </bean>

    <bean id="web.custom" class="munction.modules.web.CustomWeb">

        <meta key="input" value="/home/xenu/IdeaProjects/Munction/input/application/application.xml"></meta>

    </bean>

</beans>